body {
    background: linear-gradient(135deg, #000000, #000000, #0dcaf0);
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
  }
  
  .navbar-brand h1 {
    font-size: 2rem;
    margin: 0;
  }
  
  .nav-link {
    font-size: 1.2rem;
  }
  
  .btn-info {
    background-color: #0dcaf0;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
  }
  
  .btn-info:hover {
    background-color: #0aa8d0;
  }